.container {
  width   : 320px;
  overflow: hidden;
}

.panel {
  padding       : 12px;
  font-size     : 30px;
  text-align    : center;
  font-family   : Varela Round, sans-serif;
  text-transform: uppercase;
  line-height   : 98%;
  margin        : 2px;
}