* {
  text-rendering        : optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}

.container {
  min-height: 100vh;
  display   : flex;
}

.twitchMode {
  background     : #0f0e11;
  align-items    : center;
  justify-content: center;
}

.twitchLightMode {
  background     : #faf9fa;
  align-items    : center;
  justify-content: center;
}