.container {
  text-align : center;
  position   : relative;
  align-items: center;
  display    : flex;
}

.titleIcon {
  margin-right: 12px;
}

.text {
  flex: 1
}

.linkNotice {
  position    : relative;
  align-self  : start;
  margin-right: -12px;
  margin-top  : -24px;
  margin-left : 4px;
}

.linkIcon {
  font-size: 20px !important;
}

.linkPointerImage {
  position: absolute;
  right   : -2px;
  top     : 27px;
  z-index : 1;
}