.container {
  margin-top     : 4px;
  margin-bottom  : 4px;
  padding-top    : 6px;
  padding-bottom : 6px;
  padding-left   : 36px;
  padding-right  : 36px;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.icon {
  margin-right: 12px;
  color       : black;
  text-shadow : none;
}

.text {
  color      : white;
  text-shadow: 0 0 2px black;
  text-align : center;
}